body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    
    background-color: #ffffff;
  }

a {
    text-decoration: none;
  } 

.top-header{
    color:#ffffff;
    font-size: 17px;
    line-height: 18px;

    background-color: #293449;
  }  

.header-logo{
    background-color: #ee3643;
    }

.order,
.site-navigation{
    list-style: none;
  }

.order a,
.site-navigation a{
    color: #ffffff;
  } 
.order-picked a{
    background-color: #63a63e;
  }   

.order-picked a:hover{
    background-color: #5fbb2d;
  }
 
.order li:not(.order-picked) a:hover,
.search:hover{
    background-color: #212a3a;  
  } 

.order li:not(.order-picked) a:focus{
    background-color: #161d29;  

    color:#a2a5a9;
  }

.order-picked a:focus{
    background-color: #518534;

    color:#a8c29a;
  } 

.bottom-header{
    background-color: #f2f6f8;
 } 

.bottom-header-left{
    color:#ee3643;
    font-family: "Cuprum", sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.bottom-header-phone{
    border: solid 3px #ffffff;
}

.bottom-header-phone a{
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
}

.address {
    color:#32425c;
    font-size: 14px;
    line-height: 24px;
    }

.login-link,
.registration{
    color:#000000;
    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}   

.login-link:hover,
.registration:hover{
    color:#ee3643;
}

.login-link:focus,
.registration:focus{
    color:#b2b2b2;
}

.main-navigation{
    background-color: #32425c;
}

.site-navigation{
    font-size: 17px;
    line-height: 17px;
}

.site-navigation li a:hover{
    background-color: #293449;
}

.site-navigation li a:focus{
    background-color: #1d2739;

    color: #8e939c;
}

.about-company-title,
.contacts-title{
    color:#000000;
    font-size: 30px;
    line-height: 30px; 
    text-transform: uppercase;   
}

.about-company p,
.contacts p{
    font-family: "PT Sans", sans-serif;
    color:#000000;
    font-size: 13px;
    line-height: 24px;    
}

.transport-company-list{
    list-style: none;

    color:#000000;
    font-size: 18px;
    line-height: 20px;
}

.about-company a,
.contacts a{
    background-color: #ee3643;

    color:#ffffff;
    font-size: 14px;
    line-height: 18px; 
    text-transform: uppercase;
}

.modal{
    display: none;
}

.footer-logo{
    background-color: #ee3643;
}
  
.footer-navigation-part1,
.footer-navigation-part2,
.footer-social ul,
.back-contact-list{
    list-style: none;
}

.footer-nav{
    background-color: #32425c;
}

.footer-conatacts{
    background-color: #293449;
}

.footer-navigation-part1 a{
    color:#ffffff;
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-part1 a:hover{
    text-decoration: underline;
}

.footer-navigation-part1 a:focus{
    color:#a4abb4;
}

.footer-nav-contacts-address,
.footer-nav-contacts-address a,
.copyright{
    color:#ffffff;
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-part2 a{
    color:#ffd180;
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-part2 a:hover{
    text-decoration: underline;
}

.footer-navigation-part2 a:focus{
    color:#999966;
}

.social-button{
    background-color:#333333;
}

.social-button:hover,
.social-button:focus{
    background-color:#ff3333;
}

.back-contact-list{
    color:#ffffff;
    font-size: 16px;
    line-height: 16px;
}

.back-contact-list a{
    color:#ffcc99;
}

.back-contact-list a:hover{
    text-decoration: underline;
}

.back-contact-list a:focus{
    color:#ff3333;
}

.user-catalog a{
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.user-catalog a:focus{
    color: #cccccc;
}

.user-catalog .breadcrumbs-logined a{
    color: #333366;
    font-size: 16px;
    line-height: 18px;

    text-decoration: underline;
}

.breadcrumbs-logined{
    list-style: none;
}

.user-catalog .breadcrumbs-logined a:hover{
    color: #ff3333;
}

.user-catalog .breadcrumbs-logined a:focus{
    color: #cccccc;
}

.breadcrumbs a{
    text-decoration: none;

    color: #000000;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
}

.breadcrumbs{
    list-style: none;
}

.place-for-title h1{
    color: #333366;
    font-size: 30px;
    line-height: 30px;
}

.place-for-title{
    background-color: #f2f6f8;
}

.filters{
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.filters-title h2{
    font-size: 17px;
    line-height: 30px;
}

.filters legend{
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
}

.filter-option{
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}

.filter-button{
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.modal-filter ul{
    list-style: none;
}

.catalog{
    font-family: "PT Sans", sans-serif;
}

.catalog-item-name{
    font-size: 18px;
    line-height: 20px;
}

.price-old{
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;
}

.price-actual{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #ff3333;
}

.buy{
    background-color: #669933;

    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.marker{
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333366;
}

.catalog-list{
    list-style: none;
}

/*-------------------- Для сеток --------------------*/

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

.top-header {
    width: 100%;
}

.bottom-header{
    width: 100%;    
}

.top-header .container{
    display: flex;
}

.header-logo{
    width: 230px;
}

.search{
    margin-left: 10px;
    width: 240px;
}

.order{
    margin-left: auto;
    width: 460px;
}

.bottom-header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-header-left,
.bottom-header-middle,
.user,
.user-catalog{
    width: 300px;
}

.main-navigation{
    flex-grow: 1;
}

.about .container{
   display: flex; 
   justify-content: space-between;
}

.about-company{
    width: 540px;
}

.contacts{
    width: 300px;
}

.footer-nav-top,
.footer-nav-bottom{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footer-logo{
    width: 220px;
    margin: 0;
}

.footer-navigation-part1{
    width: 560px;
    margin: 0;
}

.footer-nav-contacts-address{
    width: 380px;
    margin: 0;
}

.footer-navigation-part2{
    width: 540px;
    margin: 0;
}

.footer-conatacts .container{
    display: flex;   
}

.copyright{
    width: 240px;
    margin: 0;
    margin-right: 140px;
}

.footer-social{
    width: 160px;
}

.back-contact{
    width: 300px;
    margin: 0;
    margin-left: auto;
}

.catalog-columns{
    display: flex;
    justify-content: space-between;
}

.filters{
    width: 220px;
}

.catalog{
    width: 700px;
    padding: 0;
    margin: 0;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.catalog-item{
    width: 220px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    margin-bottom: 20px;
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}

.catalog-item-img{
    margin:0;
}